.footer {
    background-color: #BADABE;
    color: RGB 108,180,118;
    padding: 3em;
    text-align: center;
  }
  
  .social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .social_list li {
    margin: 0 1em;
  }
  
  .social_list li:hover {
    color: #6cb476;
  }
  
  .social_list svg {
    font-size: 1.5em;
    cursor: pointer;
    color: #6cb476;
  }
  
  .copy_right {
    margin-top: 2em;
    color: #ffffff;
  }
  
  .copy_right span {
    font-weight: bold;
    color: #ffffff;
  }
  