<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../views/css/main.scss">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Entre em Contato com os Desenvolvedores</title>




  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      text-align: center;
    }

    .navbar {
      background-color: #BADABE;
      color: #ffffff;
      padding: 1em;


    }


    .navbar-brand {
      font-family: fantasy;
      color: #025008;
      font-size: xx-large;
      font-style: italic;
    }

    .event-form-container {
      text-align: center;
      /* Centralize horizontalmente */
      margin: 0 auto;
      /* Centralize verticalmente ajustando o espaçamento superior */
      padding-top: 90px;
      background-color: #ffffff;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      font-weight: bold;
      display: block;
    }

    input {
      border-radius: 5px;
      border-color: rgba(185, 0, 185, 0.445)BE;
    }

    /* Defina uma largura específica para os inputs em computadores */
    #sport,
    #hostTeam,
    #visitingTeam,
    #eventTime,
    #dateEvent,
    #eventsPlace {
      width: 20%;
      /* Largura de 20% para computadores */
    }

    .btn-submit {
      background-color: #1cac28;
      /* Cor azul da Globo Esporte */
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    header {
      text-align: center;
      padding: 20px 0;
    }

    h1 {
      font-size: 24px;
    }

    .developers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .developer {
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 10px;
      padding: 20px;
      text-align: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .developer h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    footer {
      background-color: #BADABE;
      color: #ffffff;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .copy_right {

      color: #ffffff;
      text-align: center;
    }
  </style>
</head>

<body>

  <header>


    <h1>Entre em Contato com os Desenvolvedores</h1>


  </header>
  <main>
    <section class="developers">
      {{#each developers}}
      <div class="developer">
        <h2>{{name}}</h2>
        <p>Email: {{email}}</p>
      </div>
      {{/each}}
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>



</body>
<footer>
  <p>Entre em contato conosco para obter suporte ou fazer perguntas.</p>
</footer>

</html>