body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #BADABE;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #BADABE;
    padding: 1em;
}

.nav-item {
    margin-right: 1em;
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
}

.nav-item a:hover {
    color: #BADABE;
    text-decoration: none;
}
