body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    zoom: 90%;
    /* Adiciona um zoom de 90% */
}

.container {
    max-width: 80%;
    /* Use uma porcentagem para tornar o conteúdo mais responsivo */
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    overflow-y: auto;
    /* Adiciona rolagem vertical se necessário */
}

.navbar {
    background-color:  rgba(0, 0, 0, 0.699);
    color: #00a30e;
    padding: 1em;
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    display: inline;
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #00a30e;
    font-weight: bold;
    text-align: left;
}

.nav-item a:hover {
    color: #00a30e;
}
.navbar-toggler{
    color: #00a30e;
}

.navbar-toggler-icon{
    color: #00a30e;
}

.event-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
textarea {
    width: 100%;
    /* Use 100% para ocupar toda a largura do contêiner pai */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn-submit {
    background-color: #6cb476;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #5a9c5e;
}