<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" href="../views/css/navbar.css"> -->
    <title>Minha Barra de Navegação</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #BADABE;
            overflow: hidden;
        }

        .nav-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            background-color: #BADABE;
            padding: 1em;
        }

        .nav-item {
            margin-right: 1em;
        }

        .nav-item a {
            color: #ffffff;
            text-decoration: none;
        }

        .nav-item a:hover {
            color: #BADABE;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/projects">Eventos</a></li>
            <li class="nav-item"><a href="/company">Esporte</a></li>
            <li class="nav-item"><a href="/contact">Contato</a></li>
        </ul>
    </nav>
</body>

</html>